/**
 * Set up here the general appearance of the theme.
 */

// Theme
@import "theme";
$themeColor: map-get($theme, themeColor);
$primaryDark: map-get($theme, primaryDark);
$accentDark: map-get($theme, accentDark);
$lightGray: map-get($theme, lightGray);
$texts: map-get($theme, texts);

// Breakpoints
$breakpoints: (
  sm: 37.5rem
);

// Margins
$rowMargin: 10px;
$itemMargin: 15px;

// Sizes
$itemMinWidth: 300px;

// Settings
$maxItemsPerRow: 6;
