# Site Settings
name: Dayone
title: Dayone blog
description: This is the personal blog based on Jekflix. Jekflix is a template for Jekyll inspired by Netflix and made by
  Thiago Rossener.
tags:
  - blog
  - AI
  - computer science
  - Essay
  - 칼럼
show_hero: True
menu:
  - title: Home
    url: /
  - title: Tags
    url: /tags
  - title: About
    url: /about
  - title: Contact
    url: /contact
  # - title: Feed
  #   url: /feed.xml
email: dayone.tech.official@gmail.com
# See: https://disqus.com/
disqus_username: dayonetechofficial
# Contact Form Setting
# See: https://formspree.io/
formspree_form_id: xwkyqzvw
paginate: 12

# Social Media Settings
# Remove the item if you don't need it
github_username: dayone-ai
facebook_username: facebook_username
twitter_username: twitter_username
instagram_username: dwdsuh
linkedin_username: daewon-suh-029182179
medium_username: medium_username


# Posts Settings
show_time_bar: false
show_modal_on_exit: false
show_modal_on_finish_post: true
two_columns_layout: false


# Advanced Settings
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site
google_analytics: "G-42YBBGDT33"
language: "en"
categories_folder: category
sent_message_url: "/contact/message-sent/"


# Build settings
markdown: kramdown
highlighter: rouge
permalink: /:title/
collections:
  authors:
    output: true
paginate_path: "/page/:num/"
show_get_theme_btn: true
use_logo: false

# Content paginator
paginate_content:
  enabled: true
  debug: false
  collections:
    - posts
  auto: false
  separator: "--page-break--"
  permalink: "/:num/"
  seo_canonical: true
  properties:
    part:
      is_generated: true
    last:
      is_generated: true
    single:
      is_generated: true

# SASS
sass:
  style: compressed

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-paginate-content

# Exclude my node related stuff
exclude: [
  'package.json',
  'package-lock.json',
  'src',
  'node_modules',
  'initpost.sh',
  'Gemfile',
  'Gemfile.lock',
  'gulpfile.js',
  'README.md'
]

# Theme
version: v3.1.1
