<header class="bar-header">

        <a id="menu" role="button">
            <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
        </a>
        <div class="logo">
            <a id="logo" href="{{ site.baseurl }}/">
                {% if site.use_logo %}
                    {% include logo.html %}
                {% else %}
                    {{ site.name }} <span class="version">{{ site.version }}</span>
                {% endif %}
            </a>
        </div>
        <div class="nav-bar"> 
            {% include nav-bar.html %}
        </div>
        <a id="search" class="dosearch" role="button">
            <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
        </a>
        {% if site.show_get_theme_btn %}
            <a href="https://github.com/thiagorossener/jekflix-template" class="get-theme" role="button">
                Get this theme!
            </a>
        {% endif %}
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
