<ul>
  <li>
    <a href="{{ site.url }}{{site.baseurl}}/">Home</a>
  </li>
  {% for page in site.pages %}
    {% if page.menu %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
  {% if site.email %}
    <li>
      <a href="{{ site.url }}{{site.baseurl}}/contact/">Contact</a>
    </li>
  {% endif %}
  <li>
    <a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml" title="Atom/RSS feed">Feed</a>
  </li>
</ul>
