<!DOCTYPE html>
<html>
<head>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 333px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: ivory;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 333px;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<div class="card">
  <iframe src="https://docs.google.com/presentation/d/1u45y6pOuK7m4F-8vOhgWwmvoM0DylpZ8bi964mvnmLs/embed?start=true&loop=true&delayms=3000" 
frameborder="0" width="333px" height="222px"></iframe>
<center>
<b>Grab a free cartoon for all donations above <b>Rs.25 /-</b>
<p><a href="upi://pay?pa=roobank1@okicici&pn=GRAVITYNULL&cu=INR" target="_blank"><button>Donate GravityNull via UPI
</button></a>
</div>

</body>
</html>
