<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.blue{
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.white{
  background-color: #EC7050;
  border: none;
  text-align: left;
  color: white;
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}
.green{
  background-color: white;
  border: none;
  text-align: left;
  color: black;
  padding: 5px 5px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}

</style>
</head>
<body>
<table>
<td>
<a href="/cartoons">
<button class="white">GravityNull is 100% Ads. free | Help us to run this blog Ads. free forever by your Donations </button></a>
</td><td>
<a href="upi://pay?pa=roobank1@okicici&pn=GRAVITYNULL&cu=INR" target="_blank">
<button class="blue"><i class="fa fa-dollar"></i> Donate </button></a>
<td>
</table>
<a href="/cartoons">
<button class="green">Grab a free cartoon for all donations above <b>Rs.25 /-</button>
</a>
</center>
</body>
</html>
