// Welcomments CSS
.welcomments__container {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 66.6666666667%;
}
.welcomments__submit-button {
    background-color: $themeColor !important;
}