// Welcomments CSS
.welcomments__container {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 85%;
}
.welcomments__submit-button {
    background-color: $themeColor !important;
}
.welcomments__author-avatar-img {
    object-fit: cover;
    aspect-ratio: 1/1;
}
#comments-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.7149;
    min-height: 48px;
}
@media screen and (min-width: 832px) {
    .welcomments__container {
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 55%;
    }
}
//Comment section styling
.welcomments__comments-title,
   .welcomments__author-name,
   .welcomments__comment-message a,
    .welcomments__comment-form label {
        color: $accentDark !important;
    }
    .welcomments__comment-time a time,
    .welcomments__comment-form p {
        color: #9ca3af !important; // Date & notes color 
    }
    .welcomments__comment-message {
        color: #d1d5db !important;
    }
    .welcomments__comment-reply-link {
      background-color: $themeColor;
      color: #9ca3af;
    }
    .welcomments__comment-form textarea,
    .welcomments__comment-form input {
        background-color: lighten($primaryDark, 5%)  !important;
        border-color: lighten($primaryDark, 5%) !important;
    }
    .welcomments__submit-button {
        background-color: $themeColor !important;
    }
    .welcomments__comment {
        border-color: lighten($primaryDark, 5%) !important;
    }

    .welcomments__comment-message {
      p {
        color: darken($lightGray, 20%)
      }
    }
    .welcomments__container input::-moz-placeholder,
    .welcomments__container textarea::-moz-placeholder {
        opacity:1;
        color:#9ca3af
      }
    .welcomments__container input:-ms-input-placeholder,
    .welcomments__container textarea:-ms-input-placeholder {
      opacity:1;
      color:#9ca3af
    }
    .welcomments__container input::placeholder,
    .welcomments__container textarea::placeholder {
      opacity:1;
      color:#9ca3af
    }
    


// Welcomments likes styling
#like-button-container {
  width: 6rem;
  height: 3rem;

  .subtitle {
    color: $themeColor;
    text-align: center;
    font-size: .75rem;
    font-weight: 500;  
    line-height: 1.5;
  }
}

#welcomments__like-button {
  color: $themeColor;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
}
@media screen and (min-width: 832px) {
  #like-button-container {
    position: fixed;
    right: calc(911px + ((100% - 948px)/2));
    top: 350px;
    opacity: 0; /* Initially hidden */
    transform: translateY(-10px); /* Initially slightly shifted up */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for both opacity and transform */
  }
  #like-button-container.visible {
    opacity: 1; /* Visible state */
    transform: translateY(0); /* Reset transform for visible state */
  }
  #like-button-container.fixed {
    position: inherit;
    opacity: 1;
    transform: translateY(0);
  }
}
