body {
  background-color: $primaryDark;
}

// certification icon 

#certification_icon {
    width: 15px;
    height: auto;
    display: inline;
    fill: $themeColor;
}

// New navbar
.nav-bar {
  display: none;
}
@media (min-width: 769px) {
  /* Masquer la barre latérale et l'icône du menu sur les appareils de bureau */
  .sidebar {
      display: none; 
  }
  .icon-menu {
    display: none;
  }
  .bar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    flex: auto;
  }
  .nav-item {
    flex: auto;
    text-align: center;
  }
  .nav-link {
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    display: block;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 50px 10px 0px;
    color: #fff;
  }
  .logo {
    flex: 1;
  }
}

//Dark - Light mode toggle test

// make the header light when needed
/* body.light:not(.main-page) {
  .bar-header {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.95);

    .icon-search,
    .icon-menu {
      fill: $primaryDark;
    }

    .logo a,
    .version {
      color: $primaryDark;
    }
    .post {
      background: $accentDark;
    }
    .post-content {
      p,
      li {
        color: $texts;
      }
      h1.post-title {
        color: black
      }
      p.post-subtitle {
        color: darken($lightGray, 30%);
      }
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: black
      }
      blockquote {
        p {
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
    .share {
      background: $accentDark;
      h3 {
        color: black
      }
      icon{
        fill: $accentDark
      }
    }
  }
} */