// certification icon 

#certification_icon {
    width: 15px;
    height: auto;
    display: inline;
}
// Welcomments likes styling
#like-button-container {
  width: 6rem;
  height: 3rem;

  .subtitle {
    color: rgb(75,85,99);
    text-align: center;
    font-size: .75rem;
    font-weight: 500;  
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    line-height: 1.5;
  }
}

#welcomments__like-button {
  color: rgb(17,24,39);
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}
@media screen and (min-width: 832px) {
  #like-button-container {
    position: fixed;
    right: calc(911px + ((100% - 948px)/2));
    top: 350px;
    opacity: 0; /* Initially hidden */
    transform: translateY(-10px); /* Initially slightly shifted up */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for both opacity and transform */
  }
  #like-button-container.visible {
    opacity: 1; /* Visible state */
    transform: translateY(0); /* Reset transform for visible state */
  }
  #like-button-container.fixed {
    position: inherit;
    opacity: 1;
    transform: translateY(0);
  }
}

// New navbar
.nav-bar {
  display: none;
}
@media (min-width: 769px) {
  /* Masquer la barre latérale et l'icône du menu sur les appareils de bureau */
  .sidebar {
      display: none; 
  }
  .icon-menu {
    display: none;
  }
  .bar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    flex: auto;
  }
  .nav-item {
    flex: auto;
    text-align: center;
  }
  .nav-link {
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    display: block;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 50px 10px 0px;
    color: #fff;
  }
  .logo {
    flex: 1;
  }
}