.share {
  background: $primaryDark;
  @include center(800px);
  text-align: center;
  padding-top: rem(20px);
  margin-top: rem(10px);

  @include media(">=sm") {
    margin-top: rem(50px);
  }

  article & {
    border-top: none;
  }

  svg {
    margin: rem(15px);
    @include size(35, 35);
  }

  a {
    text-decoration: none;
    border: none;
  }

  .icon {
    transition: all 0.3s;
    fill: $lightGray
  }

  .icon-twitter:hover {
    fill: $themeColor;
  }
  
  .icon-facebook:hover {
    fill: $themeColor;
  }
  h3 {
    color: $lightGray;
  }
}
