<form id="welcomments__form" class="welcomments__comment-form" action="{{ include.api_url }}/comments" method="post">
  <input type="hidden" name="website-id" id="website-id" value="{{ include.website_id }}"/>
  <input type="hidden" name="replying-to" id="replying-to"/>
  <input type="hidden" name="permalink" id="permalink" value="{{ site.url }}{{ page.url }}"/>
  <input type="hidden" name="page-slug" id="page-slug" value="{{ page.slug }}"/>
  <div class="welcomments__form-group">
    <textarea rows="10" name="message" id="message" required spellcheck="true" placeholder="Type here..."></textarea>
    <p class="welcomments__markdown-notice"><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">GitHub-flavored Markdown</a> & a sane subset of HTML is supported.</p>
  </div>
  <div class="welcomments__form-group">
    <label for="author-name">Name</label>
    <input type="text" id="author-name" name="author-name" required spellcheck="false" placeholder="Your name"/>
  </div>
  <div class="welcomments__form-group welcomments__flex">
    <div class="welcomments__column-left">
      <label for="author-url">Website <span class="welcomments__optional-notice">(optional)</span></label>
      <input type="url" id="author-url" name="author-url" placeholder="https://example.com"/>
    </div>
    <div class="welcomments__column-right">
      <label for="author-email">Email <span class="welcomments__optional-notice">(optional)</span></label>
      <input type="email" id="author-email" name="author-email" placeholder="johndoe@example.com"/>
    </div>
  </div>
  <p class="welcomments__email-notice">Fill in your email address if you want to get notified when someone replies to your comment. Your email address is safely stored with strong 256-bit AES encryption. You can unsubscribe from notification emails any time by following a link on the bottom of a reply notification email.</p>
  <button type="submit" class="welcomments__submit-button" id="welcomments__submit-button">Send comment</button>
</form>
