/**
 * Set up here the general appearance of the theme.
 */

// Resolution
cut = 37.5rem

// Margins
rowMargin  = 10px
itemMargin = 15px

// Sizes
itemMinWidth = 300px

// Settings
maxItemsPerRow = 6
