// Colors
themeColor  = #ff0a16
primaryDark = #141414
accentDark  = #ffffff
lightGray   = #f2f2f2
texts       = #333333

// Resolution
cut = 37.5rem
max = 3840px // 4K screen width

// Margins
rowMargin  = 10px
itemMargin = 15px

// Sizes
itemMinWidth = 300px
