---
layout: default
---

<div class="post">

  <article class="post-content fullwidth">
    {{ content }}
  </article>

</div>






{% if site.two_columns_layout %}
                <aside class="see-also">
                    <h2>{{ site.translations.text.see_also | default: "See also" }}</h2>
                    <ul>
                        {% assign next_posts = site.posts | where_exp:"post","post.is_generated != true" | where_exp:"post","post.path != page.path" %}
                        {% assign shuffled_array = next_posts | shuffle %}
                        {% for post in shuffled_array limit:3 %}
                            <li>
                                <a href="{{ post.url | prepend: site.baseurl }}">
                                    {% if post.optimized_image %}
                                        <img src="{{ post.optimized_image }}">
                                    {% elsif post.image %}
                                        <img src="{{ post.image }}">
                                    {% else %}
                                        <img src="/assets/img/off.jpg">
                                    {% endif %}
                                    <h3>{{ post.title }}</h3>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
            {% endif %}

        </section>

        <!-- Add time bar only for pages without pagination -->
        {% if paginator.activated == nil and site.show_time_bar == true %}
            {% include time-bar.html %}
           <!-- {% include recommendation.html %} -->
        {% endif %}

    

        <!-- Show modal before user leaves the page -->
        {% if site.show_modal_on_exit %}
            {% include modal.html title="Don't go yet!" subtitle="You may also like..." closed=true showOnExit=true %}
        {% endif %}
